root = true

[*]
charset = utf-8
draw_white_space = all
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true

[*.{csv,txt}]
insert_final_newline = false

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
trim_trailing_white_space_on_save = false
